<ul nz-menu nzMode="inline" class="side-bar">
  <li nz-menu-item>
    <a [routerLink]="['/admin']">
      <i nz-icon nzType="environment" nzTheme="outline"></i>
      Mapa
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin', 'listaPlaces']">
      <i nz-icon nzType="table" nzTheme="outline"></i>
      Lista lugares
    </a>
  </li>
  <li nz-menu-item>
    <a [routerLink]="['/admin', 'trails']">
      <i nz-icon nzType="flag" nzTheme="outline"></i>
      Senderos
    </a>
  </li>
</ul>

